<div *ngIf="item; else empty">
  <div class="row">
    <div class="col-xs-12">
      <img
        src="{{ item.imgPath }}"
        class="img-responsive"
        style="max-height: 400px;"
      />
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <h1>{{ item.name }}</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <div appDropdownDirective class="btn-group">
        <button type="button" class="btn btn-primary dropdown toggle">
          Manage item <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li>
            <a (click)="addToShopList()">To shoplist</a>
          </li>
          <li>
            <a [routerLink]="['/recipes', item.id, 'edit']">Edit recipe</a>
          </li>
          <li><a (click)="onDelete()">Delete recipe</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <h1>{{ item.descr }}</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let ingr of item.ingredients">
          {{ ingr.name }} — {{ ingr.amount }}
        </li>
      </ul>
    </div>
  </div>
</div>

<ng-template #empty>
  <h3>Please select a Recipe</h3>
</ng-template>
