<div class="row">
  <div class="col-xs-12">
    <form [formGroup]="form" (ngSubmit)="onSubmitAdd($event)">
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="name">Name</label>
          <input type="text" formControlName="name" class="form-control" />
          <span *ngIf="name.invalid && name.touched"
            >U need some real name</span
          >
        </div>

        <div class="col-sm-2 form-group">
          <label for="amount">Amount</label>
          <input type="number" formControlName="amount" class="form-control" />
          <span *ngIf="amount.invalid && amount.touched">Some real value</span>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <button
            style="margin-right: 5px;"
            class="btn btn-success"
            type="submit"
            [disabled]="!form.valid"
          >
            Add
          </button>
          <button
            style="margin-right: 5px;"
            class="btn btn-danger"
            type="button"
          >
            Delete
          </button>
          <button class="btn btn-primary" type="button">Clear</button>
        </div>
      </div>
    </form>
  </div>
</div>
