<mat-toolbar>
  <mat-toolbar-row>
    <a mat-button [color]="'warn'" [routerLink]="'basic'">Basic form</a>
  </mat-toolbar-row>

  <mat-toolbar-row>
    <a mat-button [color]="'warn'" [routerLink]="'array'">Array form</a>
  </mat-toolbar-row>

  <mat-toolbar-row>
    <a mat-button [color]="'warn'" [routerLink]="'nested'">Nested form</a>
  </mat-toolbar-row>

  <mat-toolbar-row>
    <a mat-button [color]="'warn'" [routerLink]="'submit'">submit form</a>
  </mat-toolbar-row>

  <mat-toolbar-row>
    <a mat-button [color]="'warn'" [routerLink]="'valid'">valid form</a>
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>
